body{
font-size: 18px;
color:#fff;
background-color:#61122f;
font-family: 'Oxygen', sans-serif;
}
#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border:0;
}
#logo-img{
	background: url("images.png") no-repeat;
	width:150px;
	height:150px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	border-radius: 50%;
}
.navbar-brand{
	margin-left: 10px;
}
.navbar-brand a:hover {
	text-decoration: none;
}

.navbar-brand a h1{
	font-size: 2em;
	text-shadow: 1px 1px 1px #222;
	text-transform: uppercase;
	color:#557c3e;
	font-family: 'Lora', serif;
	line-height: 0.75;
	margin-top: 10px;
	padding-bottom: 10px;
}

p img,p span{
	border-radius: 50%;
	font-size: 0.7em;
	vertical-align: middle;
}

@media (max-width: 768px){
	.navbar-toggler-icon{
		border:1px solid black;
	}

}
i{
	margin-left: 18px;
}