body{
font-size: 18px;
color:#fff;
background-color:#61122f;
font-family: 'Oxygen', sans-serif;
}
#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border:0;
}
#logo-img{
	background: url("images.png") no-repeat;
	width:150px;
	height:150px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
}