body{
font-size: 18px;
color:#fff;
background-color:#61122f;
font-family: 'Oxygen', sans-serif;
}
#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border:0;
}
#logo-img{
	background: url("Restaurant_web/images.png") no-repeat;
	width:150px;
	height:150px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	border-radius: 50%;
}
.navbar-brand{
	margin-left: 10px;
}
.navbar-brand a:hover {
	text-decoration: none;
}

.navbar-brand a h1{
	font-size: 2em;
	text-shadow: 1px 1px 1px #222;
	text-transform: uppercase;
	color:#557c3e;
	font-family: 'Lora', serif;
	line-height: 0.75;
	margin-top: 10px;
	padding-bottom: 10px;
}

p img,p span{
	border-radius: 50%;
	font-size: 0.7em;
	vertical-align: middle;
}

#navbarNav{
	text-align: center;
	color:#61122f;
}
#phone{
		text-align: right;
}
.nav-item:hover{
	background-color: white;
}
.fas{
	color:61122f;
	background: 61122f !important;
}
@media (max-width: 991px){
	.navbar-header{
		margin-bottom: -25px;
		margin-left: -10px;
		margin-top: -10px;
	}
		.navbar-brand a h1{
	font-size: 5vw;
}
.navbar-brand p{
	font-size: 3vw;
}
	#logo-img{
	background: url("Restaurant_web/imagesresize.png") no-repeat;
	width:80px;
	height:80px;
	margin-left: 0px;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-right: 0px;
	border-radius: 50%;
}
	i{
		padding-right: 10px;
	}
}
@media(min-width: 992px){
	.fas{
		clear:both;
	}

}
.navbar-light .navbar-nav .nav-link {
	color:#61122f;
}
#new{
	text-align: center;
	margin-top: 5px;
	border: 1px solid white;
	background-color:#f6b319;
	width: 50%;
	margin-left: 25%;
	color:#61122f;
}
#menu-tile,#special-tile,#map-tile{
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border:2px solid #3F0C1F;
	overflow: hidden;
}
#menu-tile:hover,#special-tile:hover,#map-tile:hover{
	box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile{
	background:url(Restaurant_web/menu-tile.jpg) no-repeat;
	background-position: center;
}
#special-tile{
	background:url(Restaurant_web/special.jpg) no-repeat;
	background-position: center;
}
#menu-tile span,#special-tile span,#map-tile span{
	position: absolute;
	bottom:0;
	right: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	background-color: black;
	color: #fff;
	opacity:0.8;
}

.panel-footer{
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top: 0;
}
.panel-footer div.row{
	margin-bottom: 35px;
}
#hours,#address{
	line-height: 2;
}
#hours>span,#address>span{
	font-size: 1.3em;
}
#address p{
	color:#557c3e;
	font-size:.8em;
	line-height: 1.8;
}
#testimonials{
	font-style: italic;
}
#testimonials p:nth-child(2){
	margin-top: 25px;
}
@media(min-width: 1200px){
	.jumbotron{
		background:url(Restaurant_web/newrest3.jpeg) no-repeat;
		height:680px;
		box-shadow: 1px 1px 1px 1px #3F0C1F;
		border:2px solid #3F0C1F;
		margin-top: 5px;
		padding:5px;
	}
}
@media(min-width: 991px) and (max-width:1199px){
	.jumbotron{
		background:url(Restaurant_web/medrest3.jpeg) no-repeat;
		height:575px;
		box-shadow: 1px 1px 1px 1px #3F0C1F;
		border:2px solid #3F0C1F;
		margin-top: 5px;
		padding:5px;
	}
}
@media(min-width: 768px) and (max-width:990px){
	.jumbotron{
		background:url(Restaurant_web/smallrest3.jpeg) no-repeat;
		height:500px;
		box-shadow: 1px 1px 1px 1px #3F0C1F;
		border:2px solid #3F0C1F;
		margin-top: 5px;
		padding:5px;
	}
}
@media(min-width: 576px) and (max-width:767px){
	.jumbotron{
		background:url(Restaurant_web/exsmallrest3.jpeg) no-repeat;
		height:380px;
		box-shadow: 1px 1px 1px 1px #3F0C1F;
		border:2px solid #3F0C1F;
		margin-top: 5px;
		padding:5px;
	}
}
@media(max-width: 576px){
	.jumbotron{
		box-shadow: 1px 1px 1px 1px #3F0C1F;
		border:2px solid #3F0C1F;
		margin-top: 5px;
		padding:0px;
	}
	#menu-tile,#special-tile{
	width:350px;
	margin: 0 auto 15px;
}
	.panel-footer section{
		margin-bottom: 30px;
		text-align: center;
	}
	.panel-footer section:nth-child(3){
		margin-bottom: 0;
		border-top: 1px solid white;

	}
	.panel-footer section:nth-child(2){
		border-top: 1px solid white;

	}

	.panel-footer section hr{
		width:50%;

	}
}
.category-tile{
	position: relative;
	border:2px solid #3F0C1F;
	overflow: hidden;
	width:200px;
	height: 200px;
	margin: 0 auto 15px;
	box-shadow: 1px 1px 1px 1px #3F0C1F;
}
.category-tile span{
	position: absolute;
	bottom:0;
	right: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	background-color: black;
	color: #fff;
	opacity:0.8;
}
